<%- model_class = Adhesion -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:montant) %></th>
      <th><%= model_class.human_attribute_name(:droit_vote) %></th>
      <th><%= model_class.human_attribute_name(:etat) %></th>
      <th><%= model_class.human_attribute_name(:type_adhesion_id) %></th>
      <th><%= model_class.human_attribute_name(:periode_adhesion_id) %></th>
      <th><%= model_class.human_attribute_name(:adherent_id) %></th>
      <th><%= model_class.human_attribute_name(:adherent_type) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @adhesions.each do |adhesion| %>
      <tr>
        <td><%= link_to adhesion.id, adhesion_path(adhesion) %></td>
        <td><%= adhesion.montant %></td>
        <td><%= adhesion.droit_vote %></td>
        <td><%= adhesion.etat %></td>
        <td><%= adhesion.type_adhesion_id %></td>
        <td><%= adhesion.periode_adhesion_id %></td>
        <td><%= adhesion.adherent_id %></td>
        <td><%= adhesion.adherent_type %></td>
        <td><%=l adhesion.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_adhesion_path(adhesion), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      adhesion_path(adhesion),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_adhesion_path,
            :class => 'btn btn-primary' %>
